svg {
  margin-right: 5px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}


/* ===================== */

.product-stats {
  margin-bottom: 10px;
}

.product-stats span {
  margin-bottom: 5px;
}

.shop-rating-picture {
  margin-right: 10px;
}

/* =================== */
/* Review Container */
.review-tabs{
border-bottom: 2px solid #ccc;
margin-bottom: 20px;
}

.review-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-right:20px;
  text-align: left;
}

/* Removes outline when button is clicked */
.review-button:focus {
  outline:0;
}

.review-button:after{
  display:block;
  position: relative;
  bottom:-4px;
  padding-bottom:16px;
  padding-right:20px;
  content: '';
}

.active-button:after {
  border-bottom: solid 3px #000 ;
  left:-7px;
  width: 100%;
}

.non-active-button:after {
  border-bottom: solid 3px #bdc3c7;
  transform: scaleX(0);
}
.non-active-button:hover:after {
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
}

/* style for 2nd span tag in review-button */
.review-button span:last-child {
  background :#bdc3c7;
  border-radius: 25px;
  margin-left: 10px;
  padding: 5px 15px;
}

/* =================================== */

.review-info{
  align-items:center;
  display: flex;
  flex: row nowrap;
  color: #595959
}
.avatar {
  height:50px;
  width: 50px;
  border-radius:50%;
  margin-right:10px;
}

.reviewer-name{
  margin-right: 10px;
}

.review-link {
  color: inherit;
  margin-right: 10px;
  transition: color ease-out .25s;
}
.review-link:hover {
  color: #bdc3c7;
}
