.review-service svg {
  margin-right: 5px;
}

.review-service .flex-row {
  display: flex;
  flex-direction: row;
}

.review-service .flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.review-service .review-container{
  min-width: 400px;
}

/* ===================== */

.review-service .product-stats {
  margin-bottom: 10px;
}

.review-service .product-stats span {
  margin-bottom: 5px;
}

.review-service .shop-rating-picture {
  margin-right: 10px;
}

/* =================== */
/* Review Container */
.review-service .review-tabs{
border-bottom: 3px solid rgb(230, 228, 228);
margin-bottom: 20px;
}

.review-service .review-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-right:20px;
  text-align: left;
}

/* Removes outline when button is clicked */
.review-service .review-button:focus {
  outline:0;
}

.review-service .review-button:after{
  display:block;
  position: relative;
  bottom:-3px;
  padding-bottom:16px;
  padding-right:20px;
  content: '';
}

.review-service .active-button:after {
  border-bottom: solid 3px #000 ;
  left:-7px;
  width: 100%;
}

.review-service .non-active-button:after {
  border-bottom: solid 3px #535c68;
  transform: scaleX(0);
}
.review-service .non-active-button:hover:after {
  transform: scaleX(1);
  transition: transform 250ms ease-in-out;
}

/* style for 2nd span tag in review-button */
.review-service .review-button span:last-child {
  background :#bdc3c7;
  border-radius: 25px;
  margin-left: 10px;
  padding: 5px 15px;
}

/* =================================== */
.review-service .review {
  padding-bottom: 15px;
}
.review-service .review-info{
  align-items:center;
  display: flex;
  color: #595959
}
.review-service .avatar {
  height:36px;
  width: 36px;
  border-radius:50%;
  margin-right:10px;
}

.review-service .reviewer-name{
  margin-right: 10px;
}

.review-service .review-link {
  color: inherit;
  margin-right: 8px;
  transition: color ease-out .25s;
}
.review-service .review-link:hover {
  color: #bdc3c7;
}

.review-service .review-body {
  margin-left:46px;
}

.review-service .review-score{
  margin: 5px 0;
}

.review-service .review-data{
  margin-bottom:10px;
}

.review-service .review-photo {
  border-radius:10px;
}

.review-service .review-product-data {
  color:#595959
}

.review-service .product-icon {
  margin-top:15px;
  margin-right:10px;
  margin-bottom:15px;
  border-radius:10px;
  height:36px;
  width:36px;
}


/* ========================= */
.review-service .see-more-container{
  text-align: center;
}



.review-service .more-reviews-button {
  padding: 16px 20px;
  line-height: 1.1;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  -webkit-transition: background-color .6s ease;
  transition: background-color .6s ease;
  border-radius:10px;
  border-style: none;
}

.review-service .more-reviews-button:focus, .more-reviews-button:hover {
  background: #bdc3c7;
}


/* ======================= */

.review-service .carousel-container {
  max-width: 810px;
  overflow: hidden;

}

.review-service .carousel-slide {
  display: flex;
  width:100%;
  height: 150px;
  transition: transform .2s ease-in-out;
}

.review-service .review-carousel-photo{
  width: 22%;
  height:auto;
  margin: 0 16px;
}

.review-service .review-prev-button {
  position: relative;
    /* position: absolute; */
    bottom: -100px;
    right: -25px;
    z-index: 1;
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 20px;
    background: #fff;
    border-radius: 25px;
    border-style:none;
    outline: none;
}
  .review-service .review-next-button{
    z-index: 1;
    position: relative;
    bottom: -100px;
    left: 700px;
    font-weight: bold;
    font-size:20px;
    cursor: pointer;
    padding: 15px 20px;
    background: #fff;
    border-radius: 25px;
    border-style:none;
    outline: none;
  }

  @media screen and (min-width: 600px) {
  .review-service .review-body{
    display:flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap:wrap;
  }
  .review-service .review-data{
    margin-right: auto;
    width:75%;
  }
  .review-service .review-photo{
    height:100px;
    width:100px;
  }
  .review-service .review-product-data{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }
  .review-service .review-product-data div{
    align-items:center;
    display: flex;
  }
}
