svg {
  margin-right: 5px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* ===================== */


.product-stats {
  margin-bottom: 10px;
}

.product-stats span {
  margin-bottom: 5px;
}

.shop-rating-picture {
  margin-right: 10px;
}

@media (min-width: 600px) {

}